* {
	margin: 0px;
  	box-sizing: border-box;
  	font-family: "Comic Sans MS", Serif;
}
body {
	background-color: rgba(255, 255, 36, 0.3);
}
/*Nav Bar*/

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 7.5vh;
	border-bottom: 1px solid black;
	box-shadow: 2px 2px 15px black;
	overflow-y: hidden;
	background-color: gold;
}
.logo {
	color: black;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 5px;
	font-size: 26px;
}
.logo a {
	text-decoration: none;
	color: black;
}
.navBar {
	display: flex;
	justify-content: space-around;		
	width: 50%;
	}
.navBar li {
	list-style-type: none;
}
.navBar a {
	color: black;
	text-decoration: none;
	text-align: center;
	letter-spacing: 3px;
	font-weight: bold;
	padding: 15px 16px;
	font-size: 13px;
}
.navBar a:hover:not(.active) {
	transition-duration: 0.4s;
	background-color: tomato;
	color: white;
}
.active {
	background-color: tomato;
	color: white;
}
.burger {
	display: none;
	cursor: pointer;
	}
.burger div{
	width: 25px;
	height: 3px;
	background-color: black;
	margin: 5px;
}



/*Foto giganti*/

.galleria-foto-giganti {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}
.foto-gigante img {
	width: 100%;
	height: auto;
	display: block;
	border: 2px solid purple;
}
.scritta-nella-foto {
	text-align: center;	
}



/* Eventi importanti*/


.eventi-importanti {
	margin: auto;
}
.titolo-eventi-importanti{
	font: 28px "Comic Sans MS", serif;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}
div.galleria-foto-eventi{
	float: left;
}
div.foto-eventi {
	border: 1px solid #ccc;
	margin: 10px;
	background-color: white;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	margin-bottom: 25px;
}
div.foto-eventi {
	border: 1px solid #ccc;
	margin: 10px;
}
div.foto-eventi:hover {
	border: 1px solid #777;
}
div.foto-eventi img {
	max-width: 100%;
	height: auto;
	object-fit: contain;
}

/*Stadi più importanti*/

.stadi-importanti {
	margin: auto;
}
.titolo-stadi-importanti {
	font: 28px "Comic Sans MS", serif;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}
div.galleria-foto-stadi {
	float: left;
}
div.foto-stadi {
	border: 1px solid #ccc;
	margin: 10px;
	background-color: white;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	margin-bottom: 25px;
}
div.foto-stadi:hover {
	border: 1px solid #777;
}
div.foto-stadi img {
	max-width: 100%;
	height: auto;
	object-fit: contain;
}
div.desc {
	text-align: center;
}

/*Footer*/

.footer {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}


.buttoncino {
	background-color: gold;
	color: black;
	font: 16px "Comic Sans MS", Serif;
	border-style: inset;
	border-width: 3px;
	border-color: tomato;
	border-radius: 5px;
	text-align: center;
	margin: 10px;
	cursor: pointer;
}
.buttoncino:hover {
	transition-duration: 0.4s;
	background-color: tomato;
	color: white;
  	box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.rettangoli {
	width: 230px;
	height: 35px;
	font: 18px;
	border-style: solid;
	border-width: 1px;
	border-color: tomato;
	border-radius: 5px;
	margin-top: 5px;
	margin-bottom: 3px;
}

/*PageBiglietti*/

.biglietti {
	margin: auto;
	margin-bottom: 30px;
	margin-top: 30px;
}
.biglietti h1, .biglietti p {
	text-align: center;
	margin-bottom: 30px;
}
#biglietti td, #biglietti th {
	border: 1px solid grey;
}
#buttoncinobig {
	font: 14px;
	padding: 5px 15px;
}
#buttoncinobig:hover {
  	box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*PageCarrello*/

.table th, .table td {
	border: 1px solid #ddd;
}
.carrello, .pagamento {
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}
.carrello h1 {
	text-align: center;
	margin-bottom: 30px;
}
.pagamento {
  	border: 1px solid #ccc;
	margin-top: 50px;
	margin-bottom: 25px;
	background-color: white;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pagamento h2, .rettangolicar, .buttoncinocar, .labelcar {
	margin-left: 25%;
}
.carrello table, .carrello td, .carrello th{  
	margin-top: 20px;
  	text-align: left;
}
.carrello table {
 	border-collapse: collapse;
  	width: 100%;
}
.carrello th, .carrello td {
  	padding: 15px;
}
.rettangolicar {
	width: 230px;
	height: 35px;
	font: 18px;
	border-style: solid;
	border-width: 1px;
	border-color: tomato;
	border-radius: 5px;
	margin-top: 5px;
	margin-bottom: 3px;
}

/*PageLogin*/


.scelta {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 30px;
}
.button {
	background-color: gold;
	font: 30px "Comic Sans MS", Serif;
	border-style: inset;
	border-width: 5px;
	border-color: tomato;
	border-radius: 8px;
	margin: 10px;
	cursor: pointer; 
}
.button:hover {
	transition-duration: 0.4s;
	background-color: tomato;
	color: white;
}
.active {
	background-color: tomato;
	color: white;
}
#registrazione, #login, #loginAdmin {
	margin-left:auto;
	margin-right:auto;
}

.rettangolilog {
	margin-left: 20%;
	margin-right: auto;
	width: 230px;
	height: 35px;
	font: 18px;
	border-style: solid;
	border-width: 1px;
	border-color: tomato;
	border-radius: 5px;
	margin-top: 5px;
	margin-bottom: 3px;
}
.labelLog {
	margin-left: 20%;
	padding: 10px;
}
.buttoncinolog {
	margin-left: 20%;
	margin-right: auto;
	background-color: gold;
	font: 20px "Comic Sans MS", Serif;
	border-style: inset;
	border-width: 3px;
	border-color: tomato;
	border-radius: 5px;
	margin-top: 5px;
	margin-bottom: 15px;
	cursor: pointer;
}
.buttoncinolog:hover {
	transition-duration: 0.4s;
	background-color: tomato;
	color: white;
}
.tabcontentlog {
	border: 1px solid #ccc;
	margin-top: 50px;
	margin-bottom: 25px;
	background-color: white;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	
}

/*AdminPage*/
.tab {
  	float: left;
 	border: 1px solid #ccc;
  	background-color: #f1f1f1;
  	width: 15%;
  	min-width: 100px;
}
.tab button {
  	display: block;
  	background-color: inherit;
  	color: black;
  	padding: 20px 16px;
  	width: 100%;
  	border: none;
  	outline: none;
  	text-align: left;
  	cursor: pointer;
  	transition: 0.3s;
  	font-size: 17px;
}
.tab button:hover {
  	background-color: #ddd;
}
.tab button.active {
  	background-color: #ccc;
}
.tabcontent {
	margin-left: 30px;
}
.tabcontent p {
	font-size: 15px;
	margin-bottom: 15px;
	font-weight: bold;
	font-family: "Comic Sans MS", Serif;
}
/* Page Eventi*/
.eventi {
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}
.eventi h1, .eventi h2 {
	text-align: center;
	margin-bottom: 30px;
}
table {
  	border-collapse: collapse;
  	width: 100%;
  	background-color: white;
}

th, td {
  	text-align: center;
  	padding: 8px;
}
td {
	
}
td a {
	text-decoration: none;
}
td a:hover {
	text-decoration: underline;
}
tr:nth-child(even){background-color: #f2f2f2}

th {
  	background-color: tomato;
  	color: white;
}



/* Page Evento*/
.evento {
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}
.evento h1 {
	text-align: center;
}


/*Profilo*/
.profilo {
	justify-content: center;
}
.profilo h1 {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}
.immagine {
	float: left; 
	margin-left: 20px;
	margin-right: 20px;
}
.coseProfilo{
	float: left; 
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 100px;
}
.cronologia {
	margin: auto;
	margin-top: 150px;
	margin-bottom: 30px;
}
.cronologia table, .cronologia td, .cronologia th{  
	margin-top: 20px;
  	text-align: left;
}
.cronologia table {
 	border-collapse: collapse;
  	width: 100%;
}
.cronologia th, .cronologia td {
  	padding: 15px;
}
.cronologia h2 {
	text-align: center;
}
.pannello {
	float: left; 
	margin: 50px 20px 25px 20px;
	border: 1px solid #ccc;
	background-color: white;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	padding: 10px;
}
.pannello p {
	text-align: center;
}
/*Stadi*/
.stadi {
	margin: auto;
}
.stadi h1 {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}
/*Stadio*/
.stadio {
	margin: auto;
	margin-top: 30px;
}
.stadio h1, .stadio p {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
}
.stadio img{
	height: auto;
	max-width: 100%
}
/* Style the tab content */

.tabcontent {
  	float: left;
  	padding: 30px 30px;
  	width: 70%;
  	border-left: none;
  	height: 300px;
}
.tabcontent p {
	text-transform: uppercase;
}

/* For mobile phones: */
[class*="col-"] {
	width: 100%;
}
@media only screen and (min-width: 768px) {
  /* For tablets: */
  	.col-s-1 {width: 8.33%;}
  	.col-s-2 {width: 16.66%;}
  	.col-s-3 {width: 25%;}
  	.col-s-4 {width: 33.33%;}
  	.col-s-5 {width: 41.66%;}
  	.col-s-6 {width: 50%;}
  	.col-s-7 {width: 58.33%;}
  	.col-s-8 {width: 66.66%;}
  	.col-s-9 {width: 75%;}
  	.col-s-10 {width: 83.33%;}
  	.col-s-11 {width: 91.66%;}
  	.col-s-12 {width: 100%;}
}
@media only screen and (min-width: 1024px) {
  /* For PC: */
  	.col-1 {width: 8.33%;}
  	.col-2 {width: 16.66%;}
  	.col-3 {width: 25%;}
  	.col-4 {width: 33.33%;}
  	.col-5 {width: 41.66%;}
  	.col-6 {width: 50%;}
  	.col-7 {width: 58.33%;}
  	.col-8 {width: 66.66%;}
  	.col-9 {width: 75%;}
  	.col-10 {width: 83.33%;}
  	.col-11 {width: 91.66%;}
  	.col-12 {width: 100%;}
}

@media screen and (max-width: 1024px) {
	.navBar {
		width: 60%;
	}
}

@media screen and (max-width: 768px) {
	.pagamento, .tabcontentlog {
  		margin-left: 30px;
  		margin-right: 30px;
  	}
	body {
		overflow-x: hidden;
	}
	.navBar {
		position: absolute;
		right: 0px;
		height: 92vh;
		top: 7.8vh;
		background-color: gold;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 30%;
		transform: translateX(100%);
		border-bottom: 1px solid black;
		border-left: 1px solid black;
		box-shadow: 2px 2px 15px black;
		transition: transform 0.5s ease-out;
		
	}
	.navBar a {
		text-align: left;
	}
	.burger {
		display: block;
	}
}
.nav-active{
	transform: translateX(0%);
	transition: transform 0.5s ease-in;
}